.botao {
    font-family: 'Lato', Arial, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--branco);
    padding: 5px 18px;
    box-shadow: 1px 1px 4px 1px black;
    
    &:hover {
        cursor: pointer;
    }
}

.botao-padrao, .botao-pequeno {
    background-color: var(--marca);
}

.botao-pequeno {
    font-size: 18px;
    padding: 5px 10px;
}

.botao-cancelar {
    background-color: var(--vermelho);
}

.botao-admin {
    background-color: var(--cinza-claro);
    color: var(--preto)
}

.botao-paginacao {
    background-color: none;
    box-shadow: none;
    font-size: 18px;
    padding: 5px 8px;
}
