@import 'index.css';

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 250px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

form button, .acoesForm button {
    align-self: center;
}

.container-select {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-select label {
    font-family: "Lato", Arial, sans-serif;
    color: var(--branco);
    font-size: 20px;
}

.container-select select {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 15px;
    color: var(--preto);
}

.acoesForm {
    display: flex;
    justify-content: center;
    gap: 30px;
}
