@import 'reset.css';
@import 'vars.css';

body {
    background-color: var(--cinza-escuro);
}

h1 {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    color: var(--branco);
    text-align: center;
}

h2 {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    color: var(--branco);
    text-align: center;
}

p, img {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    color: var(--branco);
}  

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

.disabled {
    display: none;
}

.hidden {
    visibility: hidden;
}

.mensagem-erro {
    font-size: 20px;
    color: var(--vermelho);
    font-weight: bold;
}
