@import 'index.css';

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    margin: 50px 0px 30px;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.container-imagem {
    height: 450px;
    width: 500px;
    background-color: var(--preto);
}

.container-estoque {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
