@import 'index.css';

h1 {
    margin: 50px 0px 20px;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container-lista {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 10px;
    background-color: var(--preto);
    width: 700px;
    height: 500px;
    border-radius: 10px;
    padding: 20px 10px;
    overflow: auto;
}

.container-direita {
    display: flex;
}

.container-direita-normal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botao-add {
    align-self: flex-end;
    background-color: var(--marca);
    border: none;
    border-radius: 10px;
    padding: 15px;

    &:hover {
        cursor: pointer;
    }
    box-shadow: 1px 1px 4px 1px black;
}

.container-direita-normal .botao-add {
    align-self: flex-start;
}

.botao-add img {
    width: 25px;
}

.container-editar {
    max-width: 300px;
}

.lista-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marca);
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
}

.lista-item>a, .lista-item>h3 {
    display: flex;
    align-items: center;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--branco);
    text-decoration: none;
    padding: 18px 10px;
    width: 100%;
    height: 100%;
    &>span {
        font-weight: normal;
        margin-left: 5px;
    }
}

.lista-item-expansivel {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--marca);
    border-radius: 10px;
    padding: 15px 10px;
}

.lista-item-expansivel-topo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.lista-item-expansivel-topo h3 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--branco);
}

.lista-item-expansivel-pecas {
    margin-top: 10px;
}

.lista-item-acoes {
    display: flex;
    gap: 10px;
    align-self: space-between;
    margin-right: 10px;
}

.lista-item-acoes a, .lista-item-expansivel-topo a {
    background-color: transparent;
    border: none;
    &:hover {
        cursor: pointer;
    }
}

.lista-item-acoes a img, .lista-item-expansivel-topo a img {
    height: 30px;
}

.acoes {
    display: flex;
    gap: 15px;
}

.botao-expandir {
    background-color: transparent;
    border: none;
    margin-top: 15px;
    &:hover {
        cursor: pointer;
    }
}

.botao-expandir img {
    width: 22px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
}

.form-limite {
    font-family: 'Lato', Arial, sans-serif;
    color: var(--branco);
    font-weight: bold;
}

.form-limite select {
    font-family: 'Lato', Arial, sans-serif;
    color: var(--preto);
    font-weight: bold;
    margin-left: 5px;
}

.paginacao-disabled {
    font-family: 'Lato', Arial, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
    color: var(--cinza-claro);
    padding: 5px 8px;
    margin: 1px;
}

.mensagem-erro {
    margin-top: 15px;
}
