@import 'index.css';

h1 {
    margin: 50px 0px 20px;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px; 
}

.container-lista {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 10px;
    background-color: var(--preto);
    width: 700px;
    height: 500px;
    border-radius: 10px;
    padding: 20px 10px;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); 
}

.container-direita {
    display: flex;
    align-items: center; 
}

.botao-add {
    align-self: flex-end;
    background-color: var(--marca);
    border: none;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 4px 1px black;
    transition: background-color 0.3s ease; 
}

.botao-add:hover {
    cursor: pointer;
    background-color: var(--marca-hover, #4b90e2); 
}

.botao-add img {
    width: 25px;
}

.lista-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marca);
    border-radius: 10px;
    padding: 10px 15px; 
    transition: background-color 0.3s ease;
}

.lista-item:hover {
    cursor: pointer;
    background-color: var(--marca-hover, #4b90e2);
}

.lista-item>a {
    display: flex;
    align-items: center;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: var(--branco);
    text-decoration: none;
    padding: 18px 10px;
    width: 100%;
    height: 100%;
}

.lista-item>a>span {
    font-weight: normal;
    margin-left: 5px;
}

.lista-item-acoes {
    display: flex;
    gap: 10px;
    align-self: center;
    margin-right: 10px;
}

.lista-item-acoes a {
    background-color: transparent;
    border: none;
    transition: transform 0.2s ease;
}

.lista-item-acoes a:hover {
    cursor: pointer;
    transform: scale(1.1); 
}

.lista-item-acoes a img {
    height: 30px;
}

.acoes {
    display: flex;
    gap: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
}

.form-limite {
    font-family: 'Lato', Arial, sans-serif;
    color: var(--branco);
    font-weight: bold;
}

.form-limite select {
    font-family: 'Lato', Arial, sans-serif;
    color: var(--preto);
    font-weight: bold;
    margin-left: 5px;
}

.paginacao-disabled {
    font-family: 'Lato', Arial, sans-serif;
    text-decoration: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: normal;
    color: var(--cinza-claro);
    padding: 5px 8px;
    margin: 1px;
}

.mensagem-erro {
    margin-top: 15px;
}
